<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.opti.rental.ui.category"
            name="Rental">
      </category>
      <view
            category="com.opti.rental.ui.category"
            class="com.opti.rental.ui.views.RentalPropertyView"
            icon="icons/Rentals.png"
            id="com.opti.rental.ui.propertyView"
            name="Rental Property"
            restorable="true">
      </view>
      <view
            category="com.opti.rental.ui.category"
            class="com.opti.rental.ui.views.RentalTreeView"
            icon="icons/folder.png"
            id="com.opti.rental.ui.RentalTreeView"
            name="Rentals"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.opti.rental.ui.perspective.RentalPerspective"
            icon="icons/Agency.png"
            id="com.opti.rental.ui.perspective.RentalPerspective"
            name="Rental Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.opti.rental.ui.preferences.RentalColorPreferencePage"
            id="com.opti.rental.ui.colorprefpage"
            name="Colors">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.opti.rental.ui.preferences.RentalPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.opti.rental.ui.helloword"
            name="Hello Word">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.opti.rental.ui.handler.HelloWordHandler"
            commandId="com.opti.rental.ui.helloword">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Texte">
            <command
                  commandId="com.opti.rental.ui.helloword"
                  label="Hello word"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.navigator.ProjectExplorer?after=additions">
         <menu
               label="Texte">
            <command
                  commandId="com.opti.rental.ui.helloword"
                  label="Hello word"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com.opti.rental.ui.RentalTreeView?after=additions">
         <command
               commandId="com.opti.rental.ui.helloword"
               label="Hello Word"
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
