<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.opti.rental.ui.category"
            name="Rental">
      </category>
      <view
            category="com.opti.rental.ui.category"
            class="com.opti.rental.ui.views.RentalPropertyView"
            id="com.opti.rental.ui.propertyView"
            name="Rental Property"
            restorable="true">
      </view>
      <view
            category="com.opti.rental.ui.category"
            class="com.opti.rental.ui.views.RentalTreeView"
            id="com.opti.rental.ui.RentalTreeView"
            name="Rentals"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.opti.rental.ui.perspective.RentalPerspective"
            icon="icons/Agency.png"
            id="com.opti.rental.ui.perspective.RentalPerspective"
            name="Rental Perspective">
      </perspective>
   </extension>

</plugin>
