<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="palettes" name="Palettes" schema="schema/palettes.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.opti.rental.ui.category"
            name="%category.name">
      </category>
      <view
            category="com.opti.rental.ui.category"
            class="com.opti.rental.ui.views.RentalPropertyView"
            icon="icons/Rentals.png"
            id="com.opti.rental.ui.propertyView"
            name="%view.name"
            restorable="true">
      </view>
      <view
            category="com.opti.rental.ui.category"
            class="com.opti.rental.ui.views.RentalTreeView"
            icon="icons/folder.png"
            id="com.opti.rental.ui.RentalTreeView"
            name="%view.name.0"
            restorable="true">
      </view>
      <view
            category="com.opti.rental.ui.category"
            class="com.opti.rental.ui.views.CustomerView"
            icon="icons/Customers.png"
            id="com.opti.rental.ui.customer"
            name="%view.name.1"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.opti.rental.ui.perspective.RentalPerspective"
            icon="icons/Agency.png"
            id="com.opti.rental.ui.perspective.RentalPerspective"
            name="%perspective.name">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.opti.rental.ui.preferences.RentalColorPreferencePage"
            id="com.opti.rental.ui.colorprefpage"
            name="%page.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.opti.rental.ui.preferences.RentalPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.opti.rental.ui.helloword"
            name="%command.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.opti.rental.ui.handler.HelloWordHandler"
            commandId="com.opti.rental.ui.helloword">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="%menu.label">
            <command
                  commandId="com.opti.rental.ui.helloword"
                  label="%command.label"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.navigator.ProjectExplorer?after=additions">
         <menu
               label="%menu.label.0">
            <command
                  commandId="com.opti.rental.ui.helloword"
                  label="%command.label.0"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com.opti.rental.ui.RentalTreeView?after=additions">
         <command
               commandId="com.opti.rental.ui.helloword"
               label="%command.label.1"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="com.opti.rental.ui.palettes">
      <palette
            id="com.opti.rental.ui.palettedefault"
            name="Default"
            paletteClasse="com.opti.rental.ui.palette.DefaultPalette">
      </palette>
      <palette
            id="com.opti.rental.ui.bluepalette"
            name="Blue"
            paletteClasse="com.opti.rental.ui.palette.BluePalette">
      </palette>
   </extension>

</plugin>
